.ToDoForm input {
    display: block;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;;
}

.ToDoForm{
    margin: 30px auto;
    border-radius: 5px;
    border: 1px solid crimson;
    max-width: 600px;
    text-align: left;
    padding: 20px;
}
.Save{
    background: crimson;
    border: transparent;
    border-radius: 5px;
    padding: 10px;
    margin: 15px 0;
    display: block;
}
.InputToDo{
    width: 70%;
    border: 1px solid crimson;
    padding: 10px;
}