.btnDelete {
    padding: 0 5px;
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid #ccc;
    background: crimson;
}

.btnEdit {
    padding: 0 5px;
    position: absolute;
    top: 0;
    right: 50px;
    border: 1px solid #ccc;
    background: crimson;
}


.btnAdd {
    padding: 5px 10px;
    border: 1px solid #cccccc;
    background: crimson;
}

.btnAdd:hover,
.btnDelete:hover,
.btnEdit:hover {
    background: darkred;
}

.Input {
    padding: 5px 10px;
    margin-right: 10px;
    border: 1px solid crimson;
}
.checked{
    color: dimgrey;
}
.AddedInput{
    font-size: 14px;
    margin-right: 15px;
    padding: 10px;
    background: #fff;
    border: none;
    color: #000;

}
.AddedDiv {
    display: block;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid crimson;
    max-width: 300px;
    text-align: left;
    position: relative;
}